/TemperatureReadings.class
/TemperatureReadings2.class
/TemperatureReadings3.class
/Q4dNewArray.class
/Q5javaStudents.class
/ManipulatingAnArray.class
/LotteryNumbers.class
/CurrencyConversionTool.class
/ArrayAverage.class
